<!-- StreamFeed - Forum List Template -->

<xf:if is="$xf.options.forumsDefaultPage != 'forums' OR ($xf.options.indexRoute AND $xf.options.indexRoute != 'forums/')">
	<xf:title>{{ phrase('forum_list') }}</xf:title>
<xf:else />
	<xf:h1>{$xf.options.boardTitle}</xf:h1>
</xf:if>

<xf:macro id="metadata_macros::metadata"
	arg-description="{$xf.options.boardDescription}"
	arg-canonicalUrl="{{ link('canonical:' . $selfRoute) }}" />

<xf:wrap template="forum_overview_wrapper">
	<xf:set var="$pageSelected">forums</xf:set>
</xf:wrap>

<xf:widgetpos id="forum_list_sidebar" position="sidebar" />

<!-- Page Header -->
<div class="sf-page-header">
	<div class="sf-page-header-content">
		<h1 class="sf-page-title">{$xf.options.boardTitle}</h1>
		<p class="sf-page-subtitle">{{ phrase('forum_list') }}</p>
	</div>
	<div class="sf-page-actions">
		<xf:if is="$xf.visitor.user_id">
			<a href="{{ link('forums/mark-read') }}" class="sf-btn sf-btn--ghost" data-xf-click="overlay">
				<span class="material-symbols-outlined">done_all</span>
				<span>{{ phrase('mark_forums_read') }}</span>
			</a>
		</xf:if>
	</div>
</div>

<xf:widgetpos id="forum_list_above_nodes" />

<!-- Forum Categories & Cards -->
<div class="sf-forums-container">
	<xf:macro id="node_list" arg-children="{$nodeTree}" arg-extras="{$nodeExtras}" />
</div>

<xf:widgetpos id="forum_list_below_nodes" />

<xf:head option="rss_forum"><link rel="alternate" type="application/rss+xml" title="{{ phrase('rss_feed_for_x', {'title': $xf.options.boardTitle})|for_attr }}" href="{{ link('forums/index.rss', '-') }}" /></xf:head>

<!-- Macros -->
<xf:macro id="node_list_entry" arg-node="!" arg-extras="!" arg-children="!" arg-childExtras="!" arg-depth="1">
	<xf:set var="$nodeTemplate" value="{{ $node.getNodeTemplateRenderer($depth) }}" />
	<xf:if is="$nodeTemplate.macro">
		<xf:macro id="{$nodeTemplate.template}::{$nodeTemplate.macro}"
			arg-node="{$node}"
			arg-extras="{$extras}"
			arg-children="{$children}"
			arg-childExtras="{$childExtras}"
			arg-depth="{$depth}" />
	<xf:elseif is="{$nodeTemplate.template}" />
		<xf:include template="{$nodeTemplate.template}" />
	</xf:if>
</xf:macro>

<xf:macro id="node_list" arg-children="!" arg-extras="!" arg-depth="1">
	<xf:foreach loop="$children" key="$id" value="$child">
		<xf:macro id="node_list_entry"
			arg-node="{$child.record}"
			arg-extras="{$extras.{$id}}"
			arg-children="{$child.children}"
			arg-childExtras="{$extras}"
			arg-depth="{$depth}" />
	</xf:foreach>
</xf:macro>

<xf:macro id="sub_node_list" arg-children="!" arg-childExtras="!" arg-depth="3">
	<xf:if contentcheck="true">
		<ol class="sf-sub-node-list">
		<xf:contentcheck>
			<xf:macro id="forum_list::node_list"
				arg-children="{$children}"
				arg-extras="{$childExtras}"
				arg-depth="{{ $depth + 1 }}" />
		</xf:contentcheck>
		</ol>
	</xf:if>
</xf:macro>

<xf:macro id="sub_nodes_flat" arg-children="!" arg-childExtras="!" arg-depth="3">
	<xf:if contentcheck="true">
		<div class="sf-sub-forums">
			<span class="sf-sub-forums-label">{{ phrase('sub_forums:') }}</span>
			<div class="sf-sub-forums-list">
			<xf:contentcheck>
				<xf:macro id="forum_list::node_list"
					arg-children="{$children}"
					arg-extras="{$childExtras}"
					arg-depth="{{ $depth + 1 }}" />
			</xf:contentcheck>
			</div>
		</div>
	</xf:if>
</xf:macro>
